<div class="ux-collapsible w40 import_csv box grey" data-on-expanded="box grey">
  <div class="ux-content">
    <h3> <%= t('import.title') %> </h3>
    <span>
      <%= t('import.desc1') %>
      <br />
      <%= t('import.desc2') %>
      <br />
      <%= t('import.desc3') %>
      <a href="template.xls"><%= t('import.here') %></a>
    </span>
    <br /><br />
    <%= form_tag(wit_ai_uploads_new_upload_path(), multipart: true, :method => 'POST') do %>
        <div class="input-group image-preview">
            <input placeholder="" type="text" id="disable-text" class="form-control image-preview-filename" disabled="disabled">
            <!-- don't give a name === doesn't send on POST/GET --> 
            <span class="input-group-btn"> 
            <!-- image-preview-clear button -->
            <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> <span class="glyphicon glyphicon-remove"></span> <%= t('import.clear') %> </button>
            <!-- image-preview-input -->
            <div class="btn btn-default image-preview-input" style="margin:0px 0px 10px 0px;"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title"><%= t('import.browse') %></span>
              <input type="file" accept=".xls" name="file" id="file">
              <!-- rename it -->
            </div>
            <input type="submit" value="<%= t('import.submit') %>" class="btn btn-labeled btn-primary" style="margin:0px 0px 10px 0px;" id="btn-submit" disabled> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span></button>
            </span> 
        </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $('#file').on('change', function(e){ 
    if($('#file').get(0).files.length == 0 ){
      $("#disable-text")[0].value = "<%= t('import.no_file_selected') %>";
      $("#btn-submit")[0].disabled = true
    }
    else{
      $("#disable-text")[0].value = e.target.files[0].name; 
      $("#btn-submit")[0].disabled = false
    }
  });
</script>
