<h1>
  Preview file
</h1>

<button class="orange">
  <a href="<%= wit_ai_uploads_confirm_import_path(:file_name => @file_name)%>"> Confirm Import </a>
</button>
<br />
<br />
<div class="panel with-nav-tabs panel-primary">
  <div class="panel-heading">
    <ul class="nav nav-tabs">
      <% @sheet_list.each do |list| %>
        <% if @sheet_list.find_index(list) == @index %>
          <li class="active">
            <a href="<%= wit_ai_uploads_show_data_path(:index => @sheet_list.find_index(list), :file_name => @file_name)%>" >
              <%= list %>
            </a>
          </li>
        <% else %>
          <li>
            <a href="<%= wit_ai_uploads_show_data_path(:index => @sheet_list.find_index(list), :file_name => @file_name)%>" >
              <%= list %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<table class="table table-striped table-bordered">
  <% @rows.each do |r| %>
    <% if r[0] != nil and r[0] != "" %>
      <tr>
      <% for index in 0 .. (@rows.first.size - 1) do %>
        <td><%= r[index] %></td>
      <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
<br/>










